@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Poppins", system-ui;
	/* font-family: "Inter", sans-serif; */
	line-height: 1.5;
	font-weight: 400;

	/* color-scheme: light dark; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 320px;
	font-weight: 400;
	@apply dark:bg-[#000000] bg-[#FFFFFF]
}

body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

body::-webkit-scrollbar-track {
	@apply bg-white dark:bg-black
}

body::-webkit-scrollbar-thumb {
	@apply rounded-full bg-black dark:bg-white
}

.container {
	@apply max-w-8xl mx-auto px-3 lg:px-5
}

.socialIcon {
	@apply w-full h-full object-cover;
}

.rangeSliderThumb::-webkit-slider-thumb {
	appearance: none;
	width: 30px;
	height: 30px;
	background: #FFF;
	border: 2px solid #FF6300;
	border-radius: 50%;
}


.cardServices {
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media screen and (min-width: 768px) {
	.cardServices {
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	}
}

.tabsGridRow {
	grid-template-rows: 50px 1fr;
}

.tabsSlideReset.swiper-slide {
	flex-shrink: initial;
	width: initial;
}

.testimonialsSwiper .swiper-slide {
	transition: opacity 0.3s ease-in-out;
}

.testimonialsSwiper .swiper-slide:not(.swiper-slide-active) {
	opacity: 0.2;
}

.burgerBtn::after,
.burgerBtn::before,
.burgerBtn span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 3px;
	transform: translate(-50%, -50%);
	background-color: #fff;
}

.burgerBtn::after,
.burgerBtn::before {
	content: "";
}

.burgerBtn::before {
	transform: translate(-50%, calc(-50% + (-10px)));
}

.burgerBtn::after {
	transform: translate(-50%, calc(-50% + 10px));
}

.footerNavigation {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}